*,
*::before,
*::after{
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing:border-box;
    font-size:65%;
}

body{
    margin: 0;
    font-family: var(--lato);
    font-family:lato;
}

:root{
    /* Colors */
    --white:#fff;
    --black:#000;
    --primary-color:#FEC222;
    --secondary-color:#04172A;
    --tertiary-color:#090702;

    /* Font Size */
    --lrgt-txt:5.2rem;
    --lrg-txt:4rem;
    --mdm-txt:3.2rem;
    --sml-txt:2.4rem;

    /* --header-txt:2.4rem; */
    --smlt-txt:1.6rem;

    /* Line Height */
    --line-height:1.6;

    /* Font Family */
    --lato:'Lato', sans-serif;
}

li{
    list-style-type: none;
}


a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.container{
    width:90%;
    max-width: 1350px;
    margin:auto;
}

.nav{
    background-color:var(--tertiary-color);
}


.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__item {
	position: fixed;
	background-color: var(--tertiary-color);
	width: 60%;
    max-width: 500px;
	right: 0;
	top: 12.12vh;
	height: 100vh;
	display: flex;
	justify-content: right;
    align-items: center;
	flex-direction: column;
	gap: 40px;
	padding-top: 7rem;
    transition:all .4s ease-in;
    clip-path: circle(0% at top right);
    z-index: 99;
}

.nav__link{
    color: #fff;
    font-size: var(--smlt-txt);
    font-family: lato;
}

.nav__link:hover{
    color: var(--primary-color);
}

.hov-er{
    position: relative;
}

.hov-er::after{
    content: '';
    display: block;
    position: absolute;
    background-color: var(--primary-color);
    height: .3rem;
    width: 60%;
    margin-top:.5rem;
    transform: scaleX(0);
    transition: all 250ms ease-in-out;
}

.hov-er:hover::after{
    transform: scaleX(1);
}

.btn:link,
.btn:visited{
    padding: 1.2rem 4rem;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: all .3s ease;
    position: relative;
}

.btn-clr{
    font-size:  calc((var(--smlt-txt)) + .2rem) ;
    transform: perspective(1px);
    backface-visibility: hidden;
}

.btn-clr::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: 0% 0%;
    transition: transform .5s ease;
    backface-visibility: hidden;
}

.btn-clr:hover::before{
    transform: scaleY(1);
}

.btn:active{
    transform: translateY(3px);
}

.btn-animate{
    animation: navbtnFade .5s ease;
    animation-fill-mode: backwards;
}

.nav__item li{
    opacity: 0;
}

.nav-active{
    clip-path: circle(150% at top right)
}

@keyframes navLinkFade{
    0%{
        opacity: 0;
        transform:translateX(100px);
    }
    90%{
        opacity:.5;
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes navbtnFade{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.hamburger{
    display: flex;
    flex-direction: column;
    gap:17px;
    position: relative;
    cursor: pointer;
}
.hamburger__line{
    width:3rem;
    height: .2rem;
    background: white;
    transition: all 0.4s ease;

}

.hamburger__line-2{
    display: block;
    position: absolute;
    width: 2rem;
    top:10px;
    right: 0;
}

.toggle .hamburger__line-1{
    transform: rotate(-45deg) translate(-8px,6px);
}

.toggle .hamburger__line-2{
    opacity:0;
    transform: translateX(10px);
}

.toggle .hamburger__line-3{
    transform: rotate(45deg) translate(-7px, -6px);

}
.header{
    position: relative;
}
.header .btn{
    position: absolute;
    top:20rem;
    left:5rem;
    font-size: var(--smlt-txt);
    background-image: linear-gradient(to top right, var(--tertiary-color), var(--primary-color));
    color: var(--white);
}