$color-white:#fff;
$color-black:#000;
$color-orange:#fec222;
$color-blue:#04172A;
$color-brown:#090702;
$font-smallest: 1.6rem;
$font-small:2.4rem;
$font-medium:3.2rem;
$font-large:4rem;
$font-largest:5.2rem;
$line-height:1.7;
$lato-family: 'Lato', sans-serif;