.contact-us{
    max-width: 95rem;
    margin: auto;
}

.contact-us__details {
    color: rgba(4, 23, 42, 0.8);
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;


    @media only screen and (min-width:700px){
        display: flex;
        gap: 2rem;
        justify-content: space-between;

        & > *{
            flex:1;
        }
    }

    &>*:not(:last-child) {
        margin-bottom: 3rem;
    }

    &--link {
        color: currentColor;
        display: block;
    }
}

.contact__address--description {
    font-style: normal;
    width: 30ch;
    margin: auto;
}

.contact-num>* {
    margin-bottom: .5rem;
}

[class*="text"] {
    font-weight: 400;
}

.con {
    background: rgba(254, 194, 34, 0.2);
    border-radius: 4px;
    height: 3.2rem;
    width: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #FEC222;
    font-size: 2.2rem;
}

.form {

    &-group {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__label {
        max-width: 40rem;
        width: 100%;
        display: block;
        margin: 0 auto .4rem auto;
        color: rgba(4, 23, 42, 0.8);
        font-size: 1.4rem;
    }

    &__input {
        max-width: 40rem;
        width: 100%;
        padding: 1rem 1.5rem;
        border: none;
        outline: 1.5px solid rgba(4, 23, 42, 0.5);
        border-radius: 5px;
        font-size: 1.4rem;
        color: $color-blue;
        font-family: inherit;
        transition: all .2s;
        display: block;
        margin: auto;

        &:focus{
            outline: 1.9px solid rgba(4, 23, 42, 1); 
            &:invalid{
                outline: 1.9px solid red; 
            }
            &:valid{
                outline: 1.9px solid green; 
            }
        }

        &::placeholder{
            font-family: lato;
            color: rgba(4, 23, 42, 0.7);
            font-size: 1.4rem !important;
        }
    }

    &-btn{
        max-width: 18rem;
        width: 100%;
        border: none;
        padding: 1.2rem 0;
        font-size: 1.5rem;
        border-radius: 7px;
        color:rgba(4, 23, 42, 0.8);
        box-shadow: rgba(254,194,34, 0.11);
        cursor: pointer;
        background: #FEC222;
        transition: all .3s ease;
        text-align: center;
        display: block;
        margin: auto;

        &:hover{
            transform: scale(1.05);
        }

        &focus{
            transform: scale(1) translateY(3px);
        }
    }
}