.donate-title{
    text-align: left;
}

.donate-description{
    font-size: 1.4rem;
}

.form__group{

    &-radio{

    }
}

.form-details{

    &__radio-label{
        display: block;
        font-size: 2rem;
    }

    &__radio-input{

    }

    &__radio-button{

    }
}