.heading{

    &__image{
        position: relative;
    }

    &-image{
        filter: brightness(20%);
        object-fit: contain;
    }

    &__details{
        position: absolute;
        font-size: 1.5rem;
        display: block;
        top: 35%;
        left: 10%;
        color: #fff;
        font-weight: 500;
        letter-spacing: .5px;

        &-link{
            color: currentColor;
            border-bottom: 1px solid #fff;
            padding-bottom: 3px;

            &:hover{
                border-color: $color-orange;
                color: $color-orange;
            }
            // text-decoration: underline;
        }

    }

}

.gallery{

    &-images{
      
        @media only screen and (min-width:750px){
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
        }
    }

    &-img{
        &:not(:last-child){
            margin-bottom: 2rem;
        }

        width: 450px;
        display: block;
        margin: auto;
        @media only screen and (min-width:750px){
            width: 45%;
            margin: 0;

            &:not(:last-child){
                margin-bottom: 0;
            }
        }
    }
}

