.project-card{
    
    .row{
        [class^="col"]:not(:last-child){
            margin-bottom: 4rem;
        }
        .col-1-of-3{
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
        }
    }

    @media (min-width:800px){

        .row{
            display: flex;
            flex-wrap: wrap;
            gap:1rem;
            justify-content: space-evenly;

            .col-1-of-3{
                flex-basis: 350px;
                margin:0 0;
            }
        }

    }

    .card{
        background-color: #fed97417;
        border: 1px solid #F4F4F4;
        color:black;
        padding-bottom: 5rem;
        border-radius: 7px;

        &__picture{
            width:100%;
        }

        &__details{
            padding:0 2rem;
        }
    }
}

.past-projects{

    [class^="col"]:not(:last-child){
        margin-bottom: 2rem;
    }

    .project-image{
        width: 100%;
        max-width: 400px;
        margin: auto;
        &-sub{
            width: 100%;
            display: flex;
            margin-top: -4px;
        }

        .project-img-sub{
            width: 50%;
        }   
    }

    .util{
        width: 100%;
        max-width: 500px;
        margin: auto;
    }

    @media (min-width:800px){
        .row{
            display: flex;
            justify-content: center;
            align-items: center;
            gap:5rem;
        }
        .order{
            order: 1;
        }

        [class^="col"]:not(:last-child){
            margin-bottom: 0;
        }
    }
}